---
all:
  children:
    local:
      hosts:
        localhost:
          ansible_connection: local
          ansible_become: false
    remote_servers:
      hosts:
        myserver.example.com:
          ansible_user: admin
